
.container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
    width: 100%;
    margin-top: 50px;
    
}

.TitleStyle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center !important;
}

.miniContainer{
    width: 100%;
}

.vkuiTitle {
    padding: 10px;
    text-align: flex-start;
}

.btnParent{
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}



.vkuiIcon {
    margin-right: 5px;
}

.imageParent{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
}

.image{
    width: 200px;
}

.TitleStyle{
    width: 100%;
}
.InputParent{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.inputStyle{
    width: 200px !important;

}

.whBlock{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.sovmesBlock{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.btnSovmes{
    padding:8px;
}
.wh2{
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.TAKs{
    -webkit-box-pack:  center !important;
        -ms-flex-pack:  center !important;
            justify-content:  center !important;
}

.posleProsmotra{
    font-size: 10px;
}

.vkuiTitle{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: flex-start;
        -ms-flex-pack: flex-start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.ulStyle{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 10px;

}

.liStyle{
    list-style-type:none;
    width: 100%;
    
}
.btnDelete{
    position: absolute;
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
    /* margin-left: 155.5px; */
    margin-left: 90px;
    min-width: 35px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 35.99px;
    opacity: 0.5 ;
}

.btnDelete:hover{
    background-color:transparent !important ;
}

.izbrannoe{
    margin-top: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.izbrannoeBtn{
    margin-top: 40px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
}

.netImeniStyle{
    margin-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.binb{
    width: 100% ;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border:1px solid rgb(212, 212, 212);
    height: 70px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.LastName{
    margin-top: 30px;
}

.LastNameDiv{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.LastNameLink{
    margin-top: 10px;
    text-decoration: none;
    text-align: center;
    text-decoration: none;
    font-size: 4vw;
    background-color: #E0EBFF;
    border-radius: 50px;
    padding: 13px;
    /* margin-bottom: 30px; */
      
}

.LastNameLink:hover{
    color:antiquewhite
}
.vv{
    width: 100%;
    display: flex;
    justify-content: center;
    text-decoration: none;
}
.vv2{
    width: 100%;
}
.vv3{
    text-decoration: none;
}
.btnKek{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.btnKek1{
    text-decoration: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.wh{
    width: 100%;
}
.zero1{
    opacity: 0;
    pointer-events:none;
}

.zero2{
    display: none;
}


.BtnName{
    margin-left: 5px;
}
.btnPoisk{

}

.red{
    color:red;
}

.btn2{
    width: 30% ;
}
.whBlock1{
    margin-bottom: 20px;
}

@media screen and (max-width: 600px) {
    .btnDelete{
        height: 44px;
    }
    .posleProsmotra{
        font-size: 2.5vw;
    }
    .btn2{
        width: 80% ;
    }
    .vv4{
        font-size: 3.1vw;
    }
}