.item {
  text-decoration: none;
  font-size: 4vw;
  background-color: #E0EBFF;
  border-radius: 50px;
  padding: 13px;
  margin-bottom: 30px;
}

.item:hover{
    /* background-color: azure; */
    color:burlywood
}

.containerItem{
  margin-bottom: 20px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    /* background-color: #2688EB; */
    /* border-radius: 50px; */
    /* border:1px solid rgb(194, 194, 194);
    height: 50px; */
}
.btnParent{
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.btn {
  margin-top: 50px;
  display: flex ;
  flex-wrap: wrap;

}

.btnLink {
  color:white ;
  text-decoration: none;
}

.mean,.people{
  border: #69696982  1px solid;
  margin-bottom: 20px;
  max-width: 90%;
  min-width: 90%;
}

.mean {
  
  margin-top: 5px;
  text-align: center;
  
  
  border-radius: 10px;
  
}

.people {
    
    margin-top: 5px;
    text-align: center;

    
    border-radius: 10px;
  }

.pStyle {
  margin-top: 5px;
  padding: 10px;
  text-align: start;
  margin-bottom: 5px;
  font-size: 4vw;
}

@media screen and (max-width: 600px) {
  .item{
      font-size: 9vw;
      padding: 13px;
  }
}